body {
      margin: 0;
      padding: 0;
      background-color: #efeee7;
      font-family: Georgia,"times new roman", Times,serif;
      font color :#333333; 
      font-size: 18px;    
      line-height: 150%;   
}

h1 {
  color:#efeee7;
  font size: 28px;
  background-color: #333333;
  text-align: center;
  padding-top: 20px; 
  padding-bottom:20px;
}

a { 
  color: #d21034; 
}    

.container{
  width: 1024px;
  margin: 0 auto;
}

h2{
  font size:24px;
}

#main-bio{
	width: 70%;
	float: left;
}

#contact-info{
	width: 30%;
	float: left;
}

#bio-image{
  width: 200px;
	float: left;
}
               
         